 .input{
    width: 40px;
    background-color: rgb(130, 176, 236);
    border-radius: 5px;
    text-align: center;
    margin: 5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .inputcolon{
  margin-top: 7px;
  color: gray;
  font-weight: bolder;
  }

  #timer{
    height: 290px;
    /* background-image: url('../../Assest/Vector.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain; */
    /* width: 80%; */
  }

  .timer-container{
    background: #F7F9FB;
    height: 100%;
    border-radius: 6px;
    padding: 1.3rem;
  }
  /* @media only screen and (min-width: 740px ) and (max-height:1440px) {
 
  
    .input{
      width: 40px;
      background-color: rgb(130, 176, 236);
      border-radius: 5px;
      text-align: center;
      margin: 5px 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
  }
  .inputcolon{
    margin-top: 7px;
    color: gray;
    font-weight: bolder;
  }
  
  }  */