.timesheet-container{
    /* width: 720px; */
    width: 100%;
    margin: 2rem 0;
    border-radius: 0.4rem;
    background: #F7F9FB;

}

.checked{
    fill: #14e047; 
}

.image-container-timesheet{
    width: 20px;
    height:20px;
}

.image-container-timesheet img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.timesheet-name{
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 0.8rem;
}


.timesheet-content{
    overflow-y: scroll;
    max-height: 236px;
    height: 230px;
    overflow-x: scroll;
}

.timesheet-table{
    width: 720px;
    padding: 1rem;
}

/* customize bootstrap css */

.table > thead {
    vertical-align: baseline !important;
  }

.p{
    margin-bottom:0 !important;
}

.span{
    color: #000  ;
    padding: 0.4rem ;
    padding-bottom:0;
}

