.main-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.wrapper {
  height: 100%;
  flex-direction: row !important;
  justify-content: normal !important;
}
.right-sidebar {
  width: 100%;
}

li {
  list-style-type: none !important;
  width: 100%;
  display: block;
}

.li-bg {
  background: rgb(211, 224, 253);
  background: linear-gradient(89.88deg, #EDF3FF 1.76%, rgba(201, 217, 253, 0.901042) 1.76%, rgba(228, 236, 254, 0.231175) 89.28%, rgba(237, 243, 255, 0) 99.88%);

}

ul {
  padding-left: 0 !important;
  width: 90%;
}

.image-container-logo {
  width: 160px;
  height: 73px;
}

.profile-container {
  border-radius: 50%;
}

.image-container-logo img,
.profile-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-sidebar {
  width: 13%;
}

.right-top {
  background: rgb(211,224,253);
  background: linear-gradient(90deg, rgba(211,224,253,1) 0%, rgba(251,254,255,1) 100%); 
}
