.modal-item{
display: flex !important;
justify-content: center;
margin-top: 4rem;

}

.modal-content{
    width: 360px !important;
    height: 150px  !important;
    padding: 1.5rem;
    background: rgb(211,224,253);
    background: linear-gradient(90deg, rgba(211,224,253,1) 0%, rgba(251,254,255,1) 100%); 
}