/* #SignIn{
  
  background-color: #2563EB;
  height: 100vh;
  padding-bottom: 40px;
 
} */
::-webkit-scrollbar{
  display: none;
}
/* #SignUp{
  
  background-color: #2563EB;
  height: 100%;
 
  padding-bottom: 40px;
  
} */

/* .fs{
  font-size: small;
  margin-top: -18px;
}

.input{
  width: 40px;
  background-color: rgb(130, 176, 236);
  border-radius: 5px;
  text-align: center;
  margin: 5px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.inputcolon{
margin-top: 7px;
color: gray;
font-weight: bolder;
} */
/* #skills{
  max-height: 20vh;
} */
/* .table-fixed{
  overflow: auto;
  max-height: 20vh;
}
.table-fixed::-webkit-scrollbar {
  display: none;
}

.table-fixed tr{
  display: block;
}
.checked{
  fill: #14e047; 
} */
.sidebar ul{
  list-style-type: none;
}
.sidebar ul li{
  text-decoration: none;
  padding: 2px;
  font-size: 1.0rem;
  
}
.sidebar ul li a:hover{
  cursor: pointer;
  border: 1px solid white;
  padding: 0px 2px;
  background: linear-gradient(to right,rgb(60, 60, 205),white);
}
.sidebar ul li a{
  text-decoration: none;
    color: black;
    
}
/* #leaves{
  overflow: auto;
  max-height:34vh;
  
} */

/* @media only screen and(min-width:750px) and (max-height:1143){
  
  #leaves{
    overflow: auto;
    max-height:30vh;
    min-width: 25vw;
  }
  .table-fixed{
    max-height: 209px;
    
  }
  .table-fixed tr{
    display: block;
  }
}  */
/* @media only screen and (min-width: 740px ) and (max-height:1440px) {
  #SignIn {
    
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    padding-top: 2px;
    
  }
  #SignUp {
   
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .fs{
    font-size: small;
    
    margin-top: -18px;
}

  .input{
    width: 40px;
    background-color: rgb(130, 176, 236);
    border-radius: 5px;
    text-align: center;
    margin: 5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.inputcolon{
  margin-top: 7px;
  color: gray;
  font-weight: bolder;
}

  .table-fixed{
    
    max-height: 209px;
    overflow-y: hide;
  }
  .table-fixed tr{
    display: block;
  }
} */
/* @media screen and (min-width: 200px ) and (max-width:710px){
  #SignIn {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px
  }
  #SignUp {
    
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px
  }
  
} */
/* @media screen and (min-height: 630px ){
  #SignIn {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #SignUp {
   
    display: flex;
    align-items: center;
    padding-bottom: 40px;
  }
} */
/* @media screen and (min-height:914px){
  #SignIn {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
} */
/* #timesheet{
  padding: 0.4rem 0.9rem;
  margin: 2rem auto;
  border-radius: 0.4rem;
} */
section.project-container{
  width: 92%;
  background-color: #F7F9FB;
  margin: 30px;
  
}

div.project-heading{
  display: flex;
  justify-content: space-between;
  margin-bottom:2rem;
  padding-top:1.2rem;
}

.rotate-90{
  transform:rotate(90deg);
  font-size:1.3rem;
  height:100%;
  vertical-align: bottom;;
  fill:#41496A;
  margin-right: 0.4rem;
}

.sort-button{
  background:none !important;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 .4rem !important;
  border: none;
  color:#41496A;
}

.arrow-down{
  font-size: .8rem;
  margin-left:0.5rem
}

.project-content{
  overflow-x:scroll;
  overflow-y: scroll;
  max-height: 140px;
  height: 135px;
}

.project-content table{
    width: 980px;
    border: none !important;
    text-align: left;
    border-collapse: collapse;
}

#table-heading{
  border-bottom: 1px solid #1f1d1d !important;
}

.project-content tr{
  border: none !important;
}
.project-content tr td{
  border: none !important;
}

.project-content tr th{
  padding:.4rem 0;
  font-weight: 500;
   
}

.project-content table tr td{
  text-align: left;
  padding: 0.4rem 0;
  font-size: .9rem;
  font-weight: 500;
}


.project-date{
 color: #000;
 font-size:.9rem;
 font-weight:500;
}

.calender{
 vertical-align: text-top;
 margin-right: 0.3rem;
}

.dot{
  background-color: #0a5ae3;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  margin: .1rem .4rem;
}
.status{
  color: #0963da;
  font-size: .9rem;
  font-weight: 500;
}

 .team-members{
   display:flex;
 }


 .image-container{
   width: 30px;
   height:30px;
   position: relative;
 }

 .image-container img{
   width: 100%;
   height:100%;
   object-fit: cover;
   border-radius: 50%;
 }

  .img-2{
   z-index:9;
   right: .9rem;
 } 

 .img-3{
   z-index:10;
   right: 1.5rem;
 } 

 .count-member{
   background-color: #f7f3f3;
   width: 30px;
   height:30px;
   display: inline-block;
   border-radius: 50%;
   color: #000;
   padding:33% 33%;
   font-size: 0.7rem;
 }

 .lead{
   display: flex;
 }

 .lead span{
   padding-left:.4rem;
   align-self: center;
   color: #41496A;
   font-weight: 700;
 }

@media  screen and (min-width:1024px) {
section.project-container{
  width: 76vw;
  margin: 30px;
    
}
.project-content{
  overflow-x:none;
}
}